manage-group-members/force-app/main/default/flows/Ambassador_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>Location</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_Geo__c</picklistField>
        <picklistObject>Ambassador_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Ambassador Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact and Ambassador</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAmbassador</name>
        <label>createAmbassador</label>
        <locationX>698</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Ambassador_Qualification_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>createContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facebook_Handle__c</field>
            <value>
                <elementReference>Facebook_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Active_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instagram_Handle__c</field>
            <value>
                <elementReference>Instagram_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Geo__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Facebook__c</field>
            <value>
                <elementReference>FB_Number_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Instagram__c</field>
            <value>
                <elementReference>IG_Number_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Twitter__c</field>
            <value>
                <elementReference>tw_Number_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outdoor_Gear_Experience__c</field>
            <value>
                <elementReference>Outdoor_gear_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twitter_Handle__c</field>
            <value>
                <elementReference>Twitter_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_years_with_products__c</field>
            <value>
                <elementReference>years_experience_with_products</elementReference>
            </value>
        </inputAssignments>
        <object>Ambassador_Qualification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createContact</name>
        <label>createContact</label>
        <locationX>692</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>createAmbassador</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand_Ambassador__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>update the contact record to check the Brand Ambassador checkbox.</description>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>534</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>completionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand_Ambassador__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>completionScreen</name>
        <label>completionScreen</label>
        <locationX>377</locationX>
        <locationY>466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completeMessage</name>
            <fieldText>&lt;p&gt;Your ambassador has been onboarded. You may close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrContactInfo</name>
        <label>contactInfo</label>
        <locationX>202</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenSocialStart</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSocialInput</name>
        <label>screenSocialInput</label>
        <locationX>589</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createContact</targetReference>
        </connector>
        <fields>
            <name>Location_Geo</name>
            <choiceReferences>Location</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location/Geo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>years_experience_with_products</name>
            <dataType>Number</dataType>
            <fieldText>Number of years experience with products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Outdoor_gear_experience</name>
            <fieldText>Outdoor gear experience</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSocialStart</name>
        <label>screenSocialStart</label>
        <locationX>408</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenSocialInput</targetReference>
        </connector>
        <fields>
            <name>txtSocialMedia</name>
            <fieldText>&lt;p&gt;What Social Media platforms do they use?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkInstagram</name>
            <dataType>Boolean</dataType>
            <fieldText>Instagram</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instagram_Handle</name>
            <dataType>String</dataType>
            <fieldText>Instagram Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkInstagram</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IG_Number_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkInstagram</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkFacebook</name>
            <dataType>Boolean</dataType>
            <fieldText>Facebook</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facebook_Handle</name>
            <dataType>String</dataType>
            <fieldText>Facebook Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkFacebook</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FB_Number_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkFacebook</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>checkTwitter</name>
            <dataType>Boolean</dataType>
            <fieldText>Twitter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Twitter_Handle</name>
            <dataType>String</dataType>
            <fieldText>Twitter Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkTwitter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tw_Number_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkTwitter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>scrContactInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objAmbassadorQualification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ambassador_Qualification__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
