manage-group-members/force-app/main/default/flows/Create_Brand_Ambassador_from_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>currentRecord</name>
        <label>currentRecord</label>
        <locationX>167</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>social_Media</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Location</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_Geo__c</picklistField>
        <picklistObject>Ambassador_Qualification__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Brand Ambassador from Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Brand Ambassador from Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Ambassador</name>
        <label>create Ambassador</label>
        <locationX>468</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Ambassador_Qualification_Status__c</field>
            <value>
                <stringValue>Onboarded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facebook_Handle__c</field>
            <value>
                <elementReference>Facebook_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Active_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instagram_Handle__c</field>
            <value>
                <elementReference>Instagram_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Geo__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Facebook__c</field>
            <value>
                <elementReference>fbNumber_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Instagram__c</field>
            <value>
                <elementReference>IG_Number_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_TikTok__c</field>
            <value>
                <elementReference>TikTok_Number_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Followers_Twitter__c</field>
            <value>
                <elementReference>twNumber_of_Followers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outdoor_Gear_Experience__c</field>
            <value>
                <elementReference>Outdoor_gear_experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TikTok_Handle__c</field>
            <value>
                <elementReference>TikTok_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twitter_Handle__c</field>
            <value>
                <elementReference>Twitter_Handle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Willing_to_Attend_In_Person_Events__c</field>
            <value>
                <elementReference>Willing_to_attend_in_person_events</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_years_with_products__c</field>
            <value>
                <elementReference>Number_of_years_experience_with_products</elementReference>
            </value>
        </inputAssignments>
        <object>Ambassador_Qualification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_Contact</name>
        <label>update Contact</label>
        <locationX>643</locationX>
        <locationY>227</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brand_Ambassador__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>additionalInfo</name>
        <label>additionalInfo</label>
        <locationX>434</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Ambassador</targetReference>
        </connector>
        <fields>
            <name>Other_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Other Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Geo</name>
            <choiceReferences>Location</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location/Geo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_years_experience_with_products</name>
            <dataType>Number</dataType>
            <fieldText>Number of years experience with products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Outdoor_gear_experience</name>
            <fieldText>Outdoor gear experience</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Willing_to_attend_in_person_events</name>
            <dataType>Boolean</dataType>
            <fieldText>Willing to attend in-person events?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>social_Media</name>
        <label>social Media</label>
        <locationX>296</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>additionalInfo</targetReference>
        </connector>
        <fields>
            <name>socialMedia</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Social Media&lt;/b&gt;&lt;/p&gt;&lt;p&gt;What social media platforms do they use?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkInstagram</name>
            <dataType>Boolean</dataType>
            <fieldText>Instagram</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instagram_Handle</name>
            <dataType>String</dataType>
            <fieldText>Instagram Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkInstagram</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IG_Number_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkInstagram</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chkFacebook</name>
            <dataType>Boolean</dataType>
            <fieldText>Facebook</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facebook_Handle</name>
            <dataType>String</dataType>
            <fieldText>Facebook Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkFacebook</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fbNumber_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkFacebook</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chkTikTok</name>
            <dataType>Boolean</dataType>
            <fieldText>TikTok</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TikTok_Handle</name>
            <dataType>String</dataType>
            <fieldText>TikTok Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkTikTok</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TikTok_Number_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkTikTok</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chkTwitter</name>
            <dataType>Boolean</dataType>
            <fieldText>Twitter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Twitter_Handle</name>
            <dataType>String</dataType>
            <fieldText>Twitter Handle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkTwitter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>twNumber_of_Followers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chkTwitter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>currentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
