manage-group-members/force-app/main/default/flows/Create_Food_Calories_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Parse_Response</name>
        <label>Parse Response</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <actionName>MultipleJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_Output</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName1</name>
            <value>
                <stringValue>calories</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName2</name>
            <value>
                <stringValue>totalNutrients.SUGAR.quantity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignore_error</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonStringToParse</name>
            <value>
                <elementReference>SearchFoodItem.200</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SearchFoodItem</name>
        <label>SearchFoodItem</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <actionName>FoodNutrientsService.getApiNutrition-data</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Parse_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>app_id</name>
            <value>
                <elementReference>AppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>app_key</name>
            <value>
                <elementReference>ApiKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ingr</name>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nutrition-type</name>
            <value>
                <stringValue>logging</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_from_getIngredients</name>
        <label>Assign</label>
        <locationX>248</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Consumption_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dp_ItemType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Item_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dp_ItemType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttachFile.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Ingredient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Available_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ingredient_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Last_Updated_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ingredientId</name>
        <label>Assign ingredientId</label>
        <locationX>248</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Ingredient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varI_Ingredient.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LWU_Date</name>
        <label>Assign LDU Date</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varI_Ingredient.Date_Updated_from_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchFoodItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_LDU_Date</name>
        <label>Assign to LDU Date</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varI_Ingredient.Date_Updated_from_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Items.Date_Updated_from_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFCValues</name>
        <label>Assign</label>
        <locationX>534</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Consumption_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Consumption_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_dp_ItemType.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFoodCalorieItem.Item_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_dp_ItemType.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttachFile.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ingredient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_IngredientNotFound</name>
        <label>Assign</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Input_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_IntakeForm1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IntakeInputStage</name>
        <label>Assignment</label>
        <locationX>523</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intake_input_stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Item_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EnteredItem</name>
        <choiceText>{!screen_Item}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>screen_Item</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Ingredients_from_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Ingredients from Collection</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_Ingredients_from_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varIngredientsCollection</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_Filtered_Items</targetReference>
        </connector>
        <formula>{!currentItem_Filter_Ingredients_from_Collection.Name}={!Available_Items}</formula>
    </collectionProcessors>
    <constants>
        <name>ApiKey</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5fa2583aa831417e05a4bedcfea44128</stringValue>
        </value>
    </constants>
    <constants>
        <name>AppId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>6507e512</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Flow_Stage</name>
        <label>Check Flow Stage</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Update_Ingredient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Ingredient Stage</defaultConnectorLabel>
        <rules>
            <name>Customer_Input_Stage_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Input_Stage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignFCValues</targetReference>
            </connector>
            <label>Customer Input Stage Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Flow_Stage1</name>
        <label>Check Flow Stage</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>AssignFCValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Input Stage</defaultConnectorLabel>
        <rules>
            <name>Get_Ingredients_Input_Stage_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Input_Stage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ingredient</targetReference>
            </connector>
            <label>Get Ingredients Input Stage Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Updated_Date</name>
        <label>Check Last Updated Date</label>
        <locationX>248</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Check_Flow_Stage1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recently Updated</defaultConnectorLabel>
        <rules>
            <name>Update_Items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varI_Ingredient.Date_Updated_from_Source__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Last7Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varIngredientsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LWU_Date</targetReference>
            </connector>
            <label>Update Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ingredients_found</name>
        <label>Ingredients found</label>
        <locationX>523</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>get_IngredientNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIngredientsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_IntakeForm</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceAI_AvailableIngredients</name>
        <collectionReference>varIngredientsCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Ingredient__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ItemSubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Item_Subtype__c</picklistField>
        <picklistObject>Food_Calories__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ItemType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Item_Type__c</picklistField>
        <picklistObject>Food_Calories__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>for_ConverCaloriesToNumber</name>
        <dataType>Number</dataType>
        <expression>Value({!Calories})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>for_ConvertSugarToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Sugar})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>for_IngredientNamelower</name>
        <dataType>String</dataType>
        <expression>LOWER({!screen_Item})</expression>
    </formulas>
    <formulas>
        <name>for_IngredientNameUPPER</name>
        <dataType>String</dataType>
        <expression>UPPER({!screen_Item})</expression>
    </formulas>
    <formulas>
        <name>Last7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-7</expression>
    </formulas>
    <interviewLabel>Create Food Calories Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Food Calories Item</label>
    <loops>
        <name>Loop_Filtered_Items</name>
        <label>Loop Filtered Items</label>
        <locationX>248</locationX>
        <locationY>878</locationY>
        <collectionReference>Filter_Ingredients_from_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_LDU_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_from_getIngredients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Record</name>
        <label>create Record</label>
        <locationX>248</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>varFoodCalorieItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Ingredient</name>
        <label>Find Ingredient</label>
        <locationX>523</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ingredients_found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_IngredientNamelower</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>for_IngredientNameUPPER</elementReference>
            </value>
        </filters>
        <object>Ingredient__c</object>
        <outputReference>varIngredientsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Updated_from_Source__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Sugar_in_grams__c</queriedFields>
        <queriedFields>Calories_in_KCal__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Item_Name</name>
        <label>Enter Item Name</label>
        <locationX>523</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Ingredient</targetReference>
        </connector>
        <fields>
            <name>screen_Item</name>
            <dataType>String</dataType>
            <fieldText>Item</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_IntakeForm</name>
        <label>screen_IntakeForm</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_Ingredients_from_Collection</targetReference>
        </connector>
        <fields>
            <name>Available_Items</name>
            <choiceReferences>choiceAI_AvailableIngredients</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Items</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Consumption_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Consumption Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dp_ItemType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Food_Calories__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Item_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Item_Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Item Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Item Subtype</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AttachFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFoodCalorieItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_IntakeForm1</name>
        <label>screen_IntakeForm</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SearchFoodItem</targetReference>
        </connector>
        <fields>
            <name>Available_Items_input</name>
            <choiceReferences>EnteredItem</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EnteredItem</defaultSelectedChoiceReference>
            <fieldText>Available Items</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Consumption_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Consumption Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_dp_ItemType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Food_Calories__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Item_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Item_Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Item Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Item Subtype</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_AttachFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFoodCalorieItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Output</name>
        <label>screen_Output</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Flow_Stage</targetReference>
        </connector>
        <fields>
            <name>dt_Calorie</name>
            <fieldText>&lt;p&gt;According to our Source, {!screen_Item} have:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Calories</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Parse_Response.Value01</elementReference>
            </defaultValue>
            <fieldText>Calories (in KCal)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sugar</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Parse_Response.Value02</elementReference>
            </defaultValue>
            <fieldText>Sugar (in gms)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dt_Note</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to continue or update the calories as per your packaging and click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>248</locationX>
        <locationY>2666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreated</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFoodCalorieItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>SuccessMessageTemplate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Customer_Input_Stage</name>
        <isActive>true</isActive>
        <label>Customer Input Stage</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Get_Ingredient_Stage</name>
        <isActive>true</isActive>
        <label>Get Ingredient Stage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Intake_input_stage</name>
        <isActive>true</isActive>
        <label>Intake input stage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IntakeInputStage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Ingredient</name>
        <label>Update Ingredient</label>
        <locationX>248</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Assign_ingredientId</targetReference>
        </connector>
        <flowName>Update_ingredient_Record_Autolaunched</flowName>
        <inputAssignments>
            <name>varCal_Calories</name>
            <value>
                <elementReference>for_ConverCaloriesToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIN_IngredientName</name>
            <value>
                <elementReference>screen_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIngID_Ingredient</name>
            <value>
                <elementReference>varI_Ingredient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLDU_LastDataUpdate</name>
            <value>
                <elementReference>varI_Ingredient.Date_Updated_from_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSug_Sugars</name>
            <value>
                <elementReference>for_ConvertSugarToNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varI_Ingredient</assignToReference>
            <name>varIngID_Ingredient</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>SuccessMessageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Record Created Successfully!</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Ingredients_from_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ingredient__c</objectType>
    </variables>
    <variables>
        <name>varFoodCalorieItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Food_Calories__c</objectType>
    </variables>
    <variables>
        <name>varI_Ingredient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ingredient__c</objectType>
    </variables>
    <variables>
        <name>varIngredientsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ingredient__c</objectType>
    </variables>
    <variables>
        <name>varLDU_lastDataUpdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
