manage-group-members/force-app/main/default/flows/Report_Sender.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_contact_look_up_stage</name>
        <label>Assign contact look up stage</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Lookup_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Recipient</name>
        <label>Assign Contact Recipient</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varRecipient1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Recipient</name>
        <label>Assign Email Recipient</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>varRecipient1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Email_Stage</name>
        <label>Assign Input Email Stage</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Email_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varReportName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Query_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Input_Stage</name>
        <label>Assignment</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Input_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Input</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hourly</name>
        <choiceText>Hourly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hourly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecipientContactLookUpChoice</name>
        <choiceText>Contact Lookup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Lookup</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecipientEmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Recipient_Type</name>
        <label>Check Recipient Type</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_Input_Email_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecipientContactLookUpChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Contact_Lookup_Stage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_contact_look_up_stage</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_to_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_Email.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Recipient</targetReference>
            </connector>
            <label>Send to Email</label>
        </rules>
        <rules>
            <name>Send_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Recipient</targetReference>
            </connector>
            <label>Send to Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Report_Status</name>
        <label>Report Status</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Report_Query_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reports</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>You can use this flow to send reports</description>
    <environments>Default</environments>
    <formulas>
        <name>for_ContactRecipientSelected</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Recipient_Options}=&apos;Contact Lookup&apos;,False,True)</expression>
    </formulas>
    <formulas>
        <description>5 hours from current time</description>
        <name>for_DefualtScheduleTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(5/24)</expression>
    </formulas>
    <formulas>
        <name>for_EmailRecipientSelected</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Recipient_Options}=&apos;Email&apos;,False,True)</expression>
    </formulas>
    <interviewLabel>Report Sender {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Sender</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Report_Scheduler_Record</name>
        <label>Create Report Scheduler Record</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Report_Table.firstSelectedRow.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_1__c</field>
            <value>
                <elementReference>varRecipient1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_ID__c</field>
            <value>
                <elementReference>Report_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Date_Time__c</field>
            <value>
                <elementReference>Schedule_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Report_Scheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Report_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varReportName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Recipient_Details</name>
        <label>Recipient Details</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <fields>
            <name>Contact_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>for_ContactRecipientSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contact_Lookup_Stage</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <elementReference>for_EmailRecipientSelected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentStage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Input_Email_Stage</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Report_Query_Result</name>
        <label>Report Query Result</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_reportQueryResult</name>
            <fieldText>&lt;p&gt;No reports found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reports</name>
        <label>Reports</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Recipient_Type</targetReference>
        </connector>
        <fields>
            <name>Report_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Report</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reports</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Reports</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-db19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Report Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-65be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Report</name>
        <label>Schedule Report</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Report_Scheduler_Record</targetReference>
        </connector>
        <fields>
            <name>Schedule_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>for_DefualtScheduleTime</elementReference>
            </defaultValue>
            <fieldText>Schedule Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>Hourly</choiceReferences>
            <choiceReferences>Daily</choiceReferences>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>Monthly</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Input</name>
        <label>User Input</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>Recipient_Options</name>
            <choiceReferences>RecipientEmailChoice</choiceReferences>
            <choiceReferences>RecipientContactLookUpChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the recipient type from below options:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Report_Name</name>
            <dataType>String</dataType>
            <fieldText>Report Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Contact_Lookup_Stage</name>
        <isActive>true</isActive>
        <label>Contact Lookup Stage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Input_Email_Stage</name>
        <isActive>true</isActive>
        <label>Input Email Stage</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Report_Query_Stage</name>
        <isActive>true</isActive>
        <label>Report Query Stage</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>User_Input_Stage</name>
        <isActive>true</isActive>
        <label>User Input Stage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Input_Stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varRecipient1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
