manage-group-members/force-app/main/default/flows/Report_Schedule_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sned_Report</name>
        <label>Sned Report</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>ReportExporter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>$Record.Recipient_1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>$Record.Report_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Immediate_Stage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>reportURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://cmg-c-dev-ed.lightning.force.com</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Report Schedule - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Schedule - Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <stages>
        <name>Run_Immediate_Stage</name>
        <isActive>true</isActive>
        <label>Run Immediate Stage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <object>Report_Scheduler__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Report</name>
            <connector>
                <targetReference>Sned_Report</targetReference>
            </connector>
            <label>Schedule Report</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Schedule_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
