manage-group-members/force-app/main/default/flows/Update_ingredient_Record_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Date_Updated</name>
        <label>Assign Date Updated</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Ingredient.Date_Updated_from_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLDU_LastDataUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIngID_Ingredient.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ingredient.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>Assign</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varIngID_Ingredient.Calories_in_KCal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCal_Calories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIngID_Ingredient.Sugar_in_grams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSug_Sugars</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIngID_Ingredient.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIN_IngredientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIngID_Ingredient.Date_Updated_from_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLDU_LastDataUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ingredient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ingredients_Exists</name>
        <label>Ingredients Exists</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AssignValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ingredient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_Updated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update ingredient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ingredient Record - Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ingredient</name>
        <label>Create Ingredient</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>varIngID_Ingredient</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ingredient</name>
        <label>Get Ingredient</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ingredients_Exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIN_IngredientName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIngID_Ingredient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ingredient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Date</name>
        <label>Update Date</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputReference>Get_Ingredient</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ingredient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCal_Calories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varIN_IngredientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIngID_Ingredient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ingredient__c</objectType>
    </variables>
    <variables>
        <name>varLDU_LastDataUpdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSug_Sugars</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
